<footer class="border-top footer text-muted">
    <div>
        <div style="margin: 5%">
            <h3 class="footer-Text">To Contact Me:</h3>
            <ul class="icons-list" style="list-style:none;margin:0;padding:0;overflow:hidden;">
                <li class="li-myList"><a href="mailto:MostafaShaban4522912@gmail.com">
                    <i class="bi bi-google text-light"></i></a>
                </li>
                <li class="li-myList"><a href="https://github.com/Mostafa-shaban-mohamed">
                    <i class="bi bi-github  text-light"></i></a>
                </li>
                <li class="li-myList"><a href="https://www.linkedin.com/in/mostafa-shaaban-538b20180/">
                    <i class="bi bi-linkedin  text-light"></i></a>
                </li>
                <li class="li-myList"><a href="https://www.youtube.com/@MostafaShaaban98">
                    <i class="bi bi-youtube  text-light"></i></a>
                </li>
                <li class="li-myList"><a href="https://b2-school.netlify.app/">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="white" class="bi bi-backpack-fill" viewBox="0 0 16 16">
  <path d="M5 13v-3h4v.5a.5.5 0 0 0 1 0V10h1v3z"/>
  <path d="M6 2v.341C3.67 3.165 2 5.388 2 8v5.5A2.5 2.5 0 0 0 4.5 16h7a2.5 2.5 0 0 0 2.5-2.5V8a6 6 0 0 0-4-5.659V2a2 2 0 1 0-4 0m2-1a1 1 0 0 1 1 1v.083a6 6 0 0 0-2 0V2a1 1 0 0 1 1-1m0 3a4 4 0 0 1 3.96 3.43.5.5 0 1 1-.99.14 3 3 0 0 0-5.94 0 .5.5 0 1 1-.99-.14A4 4 0 0 1 8 4M4.5 9h7a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 .5-.5"/>
</svg></a>
                </li>
            </ul>
        </div>
        <p class="footer-Text">&copy; 2023 - Mostafa Shaaban. All rights reserved.</p>
    </div>
</footer>
