<footer class="border-top footer text-muted">
    <div>
        <div style="margin: 5%">
            <h3 class="footer-Text">To Contact Me:</h3>
            <ul class="icons-list" style="list-style:none;margin:0;padding:0;overflow:hidden;">
                <li class="li-myList"><a href="mailto:MostafaShaban4522912@gmail.com">
                    <i class="bi bi-google text-light"></i></a>
                </li>
                <li class="li-myList"><a href="https://github.com/Mostafa-shaban-mohamed">
                    <i class="bi bi-github  text-light"></i></a>
                </li>
                <li class="li-myList"><a href="https://www.linkedin.com/in/mostafa-shaaban-538b20180/">
                    <i class="bi bi-linkedin  text-light"></i></a>
                </li>
            </ul>
        </div>
        <p class="footer-Text">&copy; 2023 - Mostafa Shaaban. All rights reserved.</p>
    </div>
</footer>
