<div class="center">
  <img src="assets/Images/MyLogo02.png" id="logoImage" class="img-fluid" alt="My Logo">
</div>
<div class="description">
  <p class="text-justify">Hi, My Name is Mostafa Shaaban</p>
  <p class="text-justify">.NET Full-Stack Developer</p>
  <p class="text-justify">Self-motivated Web Developer with high level of experience working on multiple projects.
    Passionate and hardworking with penchant for meeting deadlines.
    Outstanding performer in C# .NET (Back-End) and HTML & CSS & Javascript & (React / Angular) (Front-End) within Web development.
  </p>
</div>
<!-- IDEA: Tabs -->
<div class="center-tabs">
  <button class="btn btn-dark" value="Projects" (click)="openTab($event)">Projects</button>
  <button class="btn btn-dark" value="Experience" (click)="openTab($event)">Experience</button>
  <button class="btn btn-dark" value="Skills" (click)="openTab($event)">Skills</button>
</div>

<div id="experience" [style.display]="isExperience">
  <app-experience></app-experience>
</div>

<div id="projects" [style.display]="isProjects">
  <app-projects></app-projects>
</div>

<div id="skills" [style.display]="isSkills">
  <app-skills></app-skills>
</div>
