.flexDisplay {
    display: flex;
    flex-direction: row;
}

.carousel-image {
    margin: 0 35%;
    width: 30%;
    height: auto;
}

@media only screen and (max-width: 750px) {
    .flexDisplay{
        flex-direction: column;
    }
    .carousel-image {
        margin: 0 20%;
        width: 60%;
        height: auto;
    }
}