<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-VN3JYPESC3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-VN3JYPESC3');
  </script>
</head>

<div class="timeline">
    <div class="container left">
      <div class="content">
        <h5>Graduated From P.H.I with GPA of 3.47</h5>
      </div>
    </div>
    <div class="container right">
      <div class="content">
        <h5>Finished Military Service</h5>
      </div>
    </div>
    <div class="container left">
        <div class="content">
          <h5>.NET Full Stack Developer @ BarieqTech</h5>
        </div>
    </div>
    <div class="container right">
      <div class="content">
        <h5>.NET Full Stack Developer @ Telecom Egypt</h5>
      </div>
    </div>
</div>
