<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-VN3JYPESC3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-VN3JYPESC3');
  </script>
</head>

<div class="timeline">
    <div class="container left">
      <div class="content">
        <h2>JULY 2021</h2>
        <p>Graduated From P.H.I with GPA of 3.47</p>
      </div>
    </div>
    <div class="container right">
      <div class="content">
        <h2>DEC 2022</h2>
        <p>Finished Military Service</p>
      </div>
    </div>
    <div class="container left">
        <div class="content">
          <h2>MARCH 2023</h2>
          <p>Junior .NET Full Stack Developer @ BarieqTech</p>
        </div>
      </div>
</div>
